@import "~sweetalert2/dist/sweetalert2.css";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Diagram nodes colors*/
.node-added:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: green !important; /* color elements as green */
}

.node-removed:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: red !important; /* color elements as green */
}

.node-changed:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: yellow !important; /* color elements as green */
}

.node-reset:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: white !important; /* color elements as green */
}

.swal2-confirm.btn-success {
  border: none;
  outline: none;
  color: #fff;
  background-color: #325272;
  padding: 8px 18px;
  border-radius: 4px;
  cursor: pointer;
}
